In [4]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from Bio import SeqIO

%matplotlib inline

In [1]:
import pandas as pd

def start():
    options = {
        'display': {
            'max_columns': None,
            'max_colwidth': 25,
            'expand_frame_repr': False,  # Don't wrap to multiple pages
            'max_rows': 14,
            'max_seq_items': 50,         # Max length of printed sequence
            'precision': 4,
            'show_dimensions': False
        },
        'mode': {
            'chained_assignment': None   # Controls SettingWithCopyWarning
        }
    }

    for category, option in options.items():
        for op, value in option.items():
            pd.set_option(f'{category}.{op}', value)  # Python 3.6+

if __name__ == '__main__':
    start()
    del start  # Clean up namespace in the interpreter

In [8]:
pd.__name__
pd.get_option('display.max_rows')

14

In [10]:
url = ('https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data')
cols = ['sex', 'length', 'diam', 'height', 'weight', 'rings']
abalone = pd.read_csv(url, usecols=[0, 1, 2, 3, 4, 8], names=cols)
abalone

     sex  length   diam  height  weight  rings
0      M   0.455  0.365   0.095  0.5140     15
1      M   0.350  0.265   0.090  0.2255      7
2      F   0.530  0.420   0.135  0.6770      9
3      M   0.440  0.365   0.125  0.5160     10
4      I   0.330  0.255   0.080  0.2050      7
5      I   0.425  0.300   0.095  0.3515      8
6      F   0.530  0.415   0.150  0.7775     20
...   ..     ...    ...     ...     ...    ...
4170   M   0.550  0.430   0.130  0.8395     10
4171   M   0.560  0.430   0.155  0.8675      8
4172   F   0.565  0.450   0.165  0.8870     11
4173   M   0.590  0.440   0.135  0.9660     10
4174   M   0.600  0.475   0.205  1.1760      9
4175   F   0.625  0.485   0.150  1.0945     10
4176   M   0.710  0.555   0.195  1.9485     12

In [2]:
data = pd.read_excel("./Samples_list_ZiBRA2_RJ_ZK_CK_FA_ORO(LACEN-BA).xlsx")

In [5]:

fasta_sequences = SeqIO.parse(open("./LACEN-BA_CONSENSUS.fas"),'fasta')

for fasta in fasta_sequences:
    name = fasta.id
    print(name)

RJ252_YFV_SAO_FELIPE_2017.03.10\
RJ253_YFV_SALVADOR_2017.03.14\
RJ256_YFV_ALAGOINHAS_2017.03.14\
RJ257_YFV_CATU_2017.03.15\
RJ259_YFV_SALVADOR_2017.03.15\
RJ260_YFV_SANTA_RITA_DE_CASSIA_2017.03.13\
RJ261_YFV_CAMACARI_2017.03.16\
RJ267_YFV_SALVADOR_2018.03.19\
RJ268_YFV_FEIRA_DE_SANTANA_2017.03.17\
RJ271_ESPLANADA_2017.03.21\
RJ272_YFV_BIRITINGA_2017.03.22\
RJ274_YFV_ICHU_2017.04.05\
RJ276_YFV_PAULO_AFONSO_2017.04.05\
RJ277_YFV_SALVADOR_2017.04.06\
RJ278_YFV_CANDEIAS_2017.04.06\
RJ258_YFV_PEDRAO_2017.03.15\
RJ292_YFV_FEIRA_DE_SANTANA_2017.04.07\
RJ288_YFV_RIACHAO_DO_JACUIPE_2017.04.07\
RJ252_YFV_SAO_FELIPE_2017.03.10\
RJ257_YFV_CATU_2017.03.15\
RJ251_YFV_CORDEIROS_2017.03.10\

In [6]:
data

         C Status_genome Original_Lab Original_Lab_ID Original_Lab_Results  Original_Lab_CT value Sample_Type    Host State Municipality      Collection_Date  Age  Sex  ZiBRA2_RJ_cDNA Date ZiBRA2_RJ_Sequencing PCR Date  PCR cycle number Negative Control Processed with these samples Qubit_ngPerUlPoolA Qubit_ngPerUlPoolB ZiBRA2_RJ_Barcode_Number  ZiBRA2_RJ_Library_Number ZiBRA2_RJ_Flowcell_Number Notes
0      RJ1           NaN   IOC-LABFLA       2015-1204        ZIKA POSITIVE                  32.77        Soro  Humano    RJ           RJ  2015-05-21 00:00:00   18    M                  NaN                2018-03-12                  45.0      CN1 A=0.344; B=0.211                                   2.44              0.344                      NaN                       NaN                       NaN   NaN
1      RJ2           NaN   IOC-LABFLA       2015-1246        ZIKA POSITIVE                  35.19        Soro  Humano    RJ           RJ  2015-05-22 00:00:00   59    F                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
2      RJ3           NaN   IOC-LABFLA       2015-1252        ZIKA POSITIVE                  34.25        Soro  Humano    RJ           RJ  2015-05-22 00:00:00   25    F                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
3      RJ4           NaN   IOC-LABFLA       2015-1258        ZIKA POSITIVE                  33.15        Soro  Humano    RJ           RJ  2015-05-22 00:00:00   12    F                  NaN                2018-03-12                  45.0      CN1 A=0.344; B=0.211                                   2.22              0.240                      NaN                       NaN                       NaN   NaN
4      RJ5           NaN   IOC-LABFLA       2015-1261        ZIKA POSITIVE                  29.83        Soro  Humano    RJ           RJ  2015-05-22 00:00:00   38    F                  NaN                2018-03-12                  45.0      CN1 A=0.344; B=0.211                                   1.62            too low                      NaN                       NaN                       NaN   NaN
5      RJ6           NaN   IOC-LABFLA       2015-1262        ZIKA POSITIVE                  28.80        Soro  Humano    RJ           RJ  2015-05-25 00:00:00   50    F                  NaN                2018-03-12                  45.0      CN1 A=0.344; B=0.211                                   13.7               0.17                      NaN                       NaN                       NaN   NaN
6      RJ7           NaN   IOC-LABFLA       2015-1272        ZIKA POSITIVE                  34.42        Soro  Humano    RJ           RJ  2015-05-20 00:00:00   24    F                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
..     ...           ...          ...             ...                  ...                    ...         ...     ...   ...          ...                  ...  ...  ...                  ...                       ...                   ...                       ...                                    ...                ...                      ...                       ...                       ...   ...
317  RJ317           NaN          IOC       2016/5419        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
318  RJ318           NaN          IOC       2016/1475        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
319  RJ319           NaN          IOC       2015/1451        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
320  RJ320           NaN          IOC       2015/1450        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
321  RJ321           NaN          IOC       2015/1588        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
322  RJ322           NaN          IOC       2015/1301        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN
323  RJ323           NaN          IOC       2015/1296        ZIKV Positive                    NaN         NaN     NaN   NaN          NaN                  NaN  NaN  NaN                  NaN                       NaT                   NaN                       NaN                                    NaN                NaN                      NaN                       NaN                       NaN   NaN

# [REGEX and PANDAS](https://realpython.com/python-pandas-tricks/)
Perhaps you’ve heard of the term **accessor**, which is somewhat like a getter (although getters and setters are used infrequently in Python). For our purposes here, you can think of a Pandas accessor as a property that serves as an interface to additional methods.

Pandas Series have three of them:

In [14]:
pd.Series._accessors

{'cat', 'dt', 'str'}

Yes, that definition above is a mouthful, so let’s take a look at a few examples before discussing the internals.

.cat is for categorical data, .str is for string (object) data, and .dt is for datetime-like data. Let’s start off with .str: imagine that you have some raw city/state/ZIP data as a single field within a Pandas Series.

Pandas string methods are [vectorized](https://realpython.com/numpy-array-programming/#what-is-vectorization), meaning that they operate on the entire array without an explicit for-loop:

In [11]:
addr = pd.Series([
...     'Washington, D.C. 20003',
...     'Brooklyn, NY 11211-1755',
...     'Omaha, NE 68154',
...     'Pittsburgh, PA 15211'
... ])

In [12]:
addr.str.upper()

0     WASHINGTON, D.C. 20003
1    BROOKLYN, NY 11211-1755
2            OMAHA, NE 68154
3       PITTSBURGH, PA 15211
dtype: object

In [13]:
addr.str.count(r'\d')  # 5 or 9-digit zip?

0    5
1    9
2    5
3    5
dtype: int64

For a more involved example, let’s say that you want to separate out the three city/state/ZIP components neatly into DataFrame fields.

You can pass a [regular expression](https://docs.python.org/howto/regex.html) to .str.extract() to “extract” parts of each cell in the Series. In .str.extract(), .str is the accessor, and .str.extract() is an accessor method:

In [15]:
regex = (r'(?P<city>[A-Za-z ]+), '      # One or more letters
...          r'(?P<state>[A-Z]{2}) '        # 2 capital letters
...          r'(?P<zip>\d{5}(?:-\d{4})?)')  # Optional 4-digit extension
...
addr.str.replace('.', '').str.extract(regex)

         city state         zip
0  Washington    DC       20003
1    Brooklyn    NY  11211-1755
2       Omaha    NE       68154
3  Pittsburgh    PA       15211

This also illustrates what is known as method-chaining, where .str.extract(regex) is called on the result of addr.str.replace('.', ''), which cleans up use of periods to get a nice 2-character state abbreviation.

It’s helpful to know a tiny bit about how these accessor methods work as a motivating reason for why you should use them in the first place, rather than something like addr.apply(re.findall, ...).

Each accessor is itself a bona fide Python class:

- .str maps to [StringMethods](https://github.com/pandas-dev/pandas/blob/3e4839301fc2927646889b194c9eb41c62b76bda/pandas/core/strings.py#L1766).
- .dt maps to [CombinedDatetimelikeProperties](https://github.com/pandas-dev/pandas/blob/3e4839301fc2927646889b194c9eb41c62b76bda/pandas/core/indexes/accessors.py#L306).
- .cat routes to [CategoricalAccessor](https://github.com/pandas-dev/pandas/blob/3e4839301fc2927646889b194c9eb41c62b76bda/pandas/core/arrays/categorical.py#L2356).